<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New article</title>
</head>
<body>
    <form method="post">
    <input type="text" value="{{ article.name }}" placeholder="name" />
    {% if errors.name is defined %}
        <div class="invalid-feedback">
            {{ messages.name }}
        </div>
    {% endif %}
    <input type="text" value="{{ article.description }}" placeholder="description"/> 
    {% if errors.description is defined %}
        <div class="invalid-feedback">
            {{ messages.description }}
        </div>
    {% endif %}
    <input type="text" value="{{ article.price }}" placeholder="price">
    {% if errors.price is defined %}
        <div class="invalid-feedback">
            {{ messages.price }}
        </div>
    {% endif %}
    <input type="text" value="{{ article.quantity }}" placeholder="quantity" />
    {% if errors.quantity is defined %}
        <div class="invalid-feedback">
            {{ messages.quantity }}
        </div>
    {% endif %}
    <button type="submit" name="submit">envoyer</button>
    </form>

</body>
</html>